*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
html,body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: red;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}
nav ul li a:hover{
    color: red;
    transition: .4s;
}
.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid red;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;  
}
.about-text p{
    color: #fcfc;
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: red;
    color: white;
    text-decoration: none;
    outline: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}
.card{
    height: 450px;
    width: 365px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: red;
}
.card h5{
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    font-weight: bold;
}
.pra p{
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}
.card p a{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    margin-top: 20px;
    border-radius: 30px;
    transition: .4s;
}
.card p a:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.progression{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.progression p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.progression .button-two{
    background-color: red;
    color: white;
    text-decoration: none;
    outline: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.progression .button-two:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
footer i{
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}
footer a{
    background-color: red;
    color: white;
    text-decoration: none;
    outline: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-bottom: 30px;
}
footer a:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.progression h1{
    color: blue;
    font-size: 75px;
    align-items: center;
}
.projects{
    width: 100%;
    height: 290px;
    background: #212929;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.projects h1{
    color: whitesmoke;
    font-size: 35px;
    align-items: center;
}
.projects .project1{
    color: white;
    font-size: 20px;
    height: 365px;
    width: 365px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.projects .project1 a{
    background-color: red;
    color: white;
    text-decoration: none;
    outline: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.projects a:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}

/*
NEW UPDATES FROM 19/09/22 FROM RELEASE
*/
.loginbtn {
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    cursor: pointer;
}
.loginbtn:hover{
    color: blue;
    transform: scale(1.2);
    transition: .4s;
}
.discord {
    position:absolute;
    bottom: 10px;
    right: 10px;
    background-color: orange;
    

}