*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
html,body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body::-webkit-scrollbar {
    display: none;
}
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: blue;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    align-items: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    
    align-items: center;
}
nav ul li a:hover{
    color: red;
    transition: .4s;
}

nav ul li h3{
    color: aliceblue;
}
nav ul li p{
    padding-top: 8px;
    color: aliceblue;
}
